.container {
    display: flex;
    flex-wrap: wrap;
}

.addNewElement {
    display: flex;
    height: 50px;
    padding: 20px;
    width: 100%;
    justify-content: space-evenly;
}
.addInputField {
    width: 60%;
}