.container{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.user {
    width: 300px;
    padding: 10px;
}

h4{
    display: flex;
    justify-content: center;
    margin: 10px;
}

div > .outlinedbasic{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.buttons{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}
